@use 'var';

.hero {
  padding: 5.6vw;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url(../images/prisonbreak_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var.$fontePrincipal;

  @media (max-width: 768px){
    min-height: 110vh;
    margin-bottom: 30px;
  }

  @media (max-width: 500px){
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(../images/prisonbreak_wallpaper_mobile.jpg);
  }

  &__content {
    max-width: 640px;

    &__branding {
      font-family: "Big Shoulders Stencil", sans-serif;
      color: var.$corTextoPrincipal;      
      font-size: 60px;
      text-transform: uppercase;
      max-width: 300px;
      margin: 200px 0 32px;

      @media (max-width: 768px){
        max-width: 240px;
        font-size: 40px;
        margin: 250px 0 25px;
      }
    }

    &__description {
      max-width: 320px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;

      &__item {
        color: var.$corTextoTerciario;
        list-style: none;
      }
    }

    &__resume {
      margin-bottom: 38px;
      text-align: justify;
    }
  }
}
