// variáveis utilizados no projeto

$corDeFundo: #000000f7;
$corTextoPrincipal: #f9f9f9;
$corTextoSecundario: silver;
$corTextoTerciario: #646464;
$corDeFundoBotaoPrimario: #ffffff;
$corDeFundoBotaoSecundario: #c0bd14;